*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container{
    align-items: center;
}

.nav{
    display: flex;
    padding: 20px;
    border: 3px solid gray;
    background-color: #ddd;
    width: 630px;

}

.nav .nav-titulo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    justify-content:left;
    font-size: 20px;
}
.card{
    margin: 10px;
    align-items: center;
    justify-items: center;
    width: 630px;
}
.card-nav{
    border: 3px solid #ddd;
    font-size: 20px;
    font-weight: bolder;
    padding: 10px;
}
.card-nav .name{
    font-weight: bolder;
    text-align: justify;
}
.card-img{
    align-items: center;
    width: auto;
    height: auto;
}
.card-img img{
    display: block;
    margin: 0 auto;
    /* height: max-content; */
    /* align-content: center; */
    /* object-fit: cover; */
}
.card-footer{
    border: 1px solid #ddd;
    padding: 10px;
}
