*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
nav{
    display: flex;
    position: fixed;
}
.card-nav{
    border: 3px solid #ddd;
    font-size: 10px;
}

.card-footer{
    border: 1px solid salmon;
    padding: 10px;
}